/** @format */

header {
  background: linear-gradient(90deg, #2c3e50, #3498db);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #ecf0f1;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1rem; /* Adjusted padding for better touch area */
  border-radius: 5px;
  transition: background 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

nav img {
  width: 40px; /* Set a fixed width for profile logo */
  height: 40px; /* Set a fixed height for profile logo */
}

nav a:last-child {
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-radius: 15px;
}

.cartCount {
  position: relative;
  top: -7px;
  left: -10px;
}

.cartIcon {
  width: 40px;
  height: 40px;
}

nav a:last-child:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  nav a {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }
}
